@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap');
@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
  background: $primary;
  color: $second;
}

// // Desktop view
// @media all and (min-width: 1025px) {
//   button {
//     cursor: pointer;
//   }
// }

// // Auto adjust tablet view
// @media (min-width: 768px) and (max-width: 1024px) {
//   html {
//     font-size: 25px;
//   }
// }

// @media (min-width: 768px) and (max-width: 1024px) {
//   html {
//     font-size: 25px;
//   }
// }