// Fonts
$font: 'Satoshi', sans-serif;

// Colors
$primary: #F9F8F4;
$second: #0B0B17;
$accent: #2B6944;
$accent2: #83764C;
$accent3: #1F2F26;
$accent4: #273A2F;
$accent5: #B1A067;
$btn-color: #fff;
$text: rgba(18, 18, 18, 0.75);

$menu: #0C0A0B;

// Positioning
$padding: 1.03rem;
$padding2: 2.4rem;
$width: 1268px;
$height: 646px;

// Mixins (Styling presets to save a lot of time)
@mixin sub {
  font-size: 0.93rem;
  font-weight: 400;
  color: $accent3;
}

@mixin title {
  font-size: 1.94rem;
  font-weight: 700;
  color: $second;
  line-height: 116%;
}

@mixin text {
  font-size: 0.94rem;
  font-weight: 400;
  color: $text;
  line-height: 150%;
}

// --- For desktop
@mixin sub2 {
  font-size: 1.13rem;
  font-weight: 400;
  color: $accent3;
}

@mixin title2 {
  font-size: 2.31rem;
  font-weight: 700;
  color: $second;
  line-height: 116%;
}

@mixin text2 {
  font-size: 1.13rem;
  font-weight: 400;
  color: $text;
  line-height: 154%;
}

// Layout
@mixin center {
  display: flex;
  justify-content: center;
  position: relative;

  width: 100%;
}