// Fonts
$font: 'Satoshi', sans-serif;

// Colors
$primary: #F9F8F4;
$second: #0B0B17;
$accent: #2B6944;
$accent2: #83764C;
$accent3: #1F2F26;
$btn-color: #fff;

$menu: #0C0A0B;

// Positioning
$padding: 1.03rem;