@import '../../../assets/scss/variables.scss';

.services {
  padding: 10rem $padding 0 $padding;
}

// Each service
.service {
  padding: 1.88rem 2rem;
  margin: 1.8rem 0 0 0;

  background: $primary;
  box-shadow: 0px 4px 114px 0px rgba(0, 0, 0, 0.18);
  border-radius: 1.04rem;

  h3 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  p {
    margin: 0.5rem 0 0 0;

    font-size: 1.065rem;
    font-weight: 400;
    color: $text;
  }

  a {
    margin: 1.7rem 0 0 0;
  }
}

// Icons
.icons {
  display: flex;

  margin: 3.4rem 0 0 0;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 7.88rem;
  height: 7.88rem;

  background: $primary;
  border-radius: 1.05rem;
  box-shadow: 0px 4px 114px 0px rgba(0, 0, 0, 0.13);
}

.icon2 {
  margin: 2.5rem 0 0 -2rem;
}

@media all and (min-width: 1025px) {
  .cont {
    @include center;
  }

  .services {
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;

    width: $width;
    padding: 10rem $padding2 0 $padding2;
  }
  
  // Each service
  .service {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2.5rem;
    margin: 1.8rem 0 0 0;
  
    background: $primary;
    box-shadow: 0px 4px 114px 0px rgba(0, 0, 0, 0.18);
    border-radius: 1.04rem;
  
    h3 {
      font-size: 1.3rem;
      font-weight: 600;
    }
  
    p {
      margin: 0.77rem 0 0 0;
  
      font-size: 1.065rem;
      font-weight: 400;
      color: $text;
    }
  
    a {
      margin: 2rem 0 0 0;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  // Icons
  .icons {
    display: flex;
  
    margin: 0 0 0 0;
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 7.88rem;
    height: 7.88rem;
  
    background: $primary;
    border-radius: 1.05rem;
    box-shadow: 0px 4px 114px 0px rgba(0, 0, 0, 0.13);
  }
  
  .icon2 {
    margin: 4.3rem 0 0 -4.5rem;
  }

}