@import '../../assets/scss/variables.scss';

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 3.8rem;
  padding: 0 $padding;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 400;

  background: $primary;
}

// Title
.title {
  display: flex;
  align-items: center;

  text-decoration: none;

  img {
    width: 2.3rem;

    filter: brightness(70%);
  }

  h2 {
    margin: 0 0 0 0.26em;

    color: $accent2;
    font-size: 1.08rem;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.menu {
  .line {
    width: 1.5em;
    height: 2px;
    position: relative;

    background: $accent3;
    border-radius: 11rem;

    &::before, &::after {
      content: '';
      width: 0.94em;
      height: 2px;
      position: absolute;
      margin: -0.43rem 0 0 0;
      right: 0;
  
      background: $accent3;
      border-radius: 11rem;
    }

    &::after {
      margin: 0.35rem 0 0 0;
      width: 1.25rem;
    }
  }
}

@media all and (min-width: 1025px) {
  .cont {
    @include center;

    width: 100%;
    position: fixed;
    height: 4.56rem;
    padding: 0 $padding2;
    left: 0;
    top: 0;
    z-index: 400;
  
    background: $primary;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    width: $width;
    height: 4.56rem;
    padding: initial;
    position: static;
  }
  
  // Title
  .title {
    display: flex;
    align-items: center;
  
    text-decoration: none;
  
    img {
      width: 2.7rem;
  
      filter: brightness(70%);
    }
  
    h2 {
      margin: 0 0 0 0.26em;
  
      color: $accent2;
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
  
  .menu {
    .line {
      width: 1.5em;
      height: 2px;
      position: relative;
  
      background: $accent3;
      border-radius: 11rem;
  
      &::before, &::after {
        content: '';
        width: 0.94em;
        height: 2px;
        position: absolute;
        margin: -0.43rem 0 0 0;
        right: 0;
    
        background: $accent3;
        border-radius: 11rem;
      }
  
      &::after {
        margin: 0.35rem 0 0 0;
        width: 1.25rem;
      }
    }
  }

}